{% extends 'base.html' %}
{% load static %}



{% block main %}

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Editar Funcionário
      <small>RH</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
      <li><a href="#">Recursos Humanos</a></li>
      <li class="active"> <a> Editar Prova de Vida <small class="label pull-right" style="color: green;">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Geral</font>
            </font>
          </small> </a></li>
    </ol>
  </section>
  <br>
  <div class="col-md-12">
    <div class="box box-success ">
      <div class="box-header with-border" style="height: 70px">
        <h5 class="box-title" style="font-size: 12px"><i class="fa fa-fw  fa-object-group"></i> Recursos Humanos
        </h5>

        <div class="box-tools pull-right">

          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          <img src="{% static 'imagens/bwcangola_logo.png' %}" style="width: 70px; height:2%">
        </div>
        <br>
        <p></p>
      </div>
    </div>
  </div>



  <section class="content">
    <!-- Page Content  -->
    <div class="row">
      <div class="col-md-12">
        <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <br>
              <h4 class="card-title">Editar Prova de Vida</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="">

                <div class="-header d-flex justify-content-between">
                  <br>

                </div>
                <div class="-body" style="padding-left: 0;">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="">
    
                        <div class="-header d-flex justify-content-between">
                          <br>
    
                        </div>
                        <div class="iq-card-body" style="padding-left: 0;">
                          <div class="row"> 
                             <div class="col-md-4" >
                                <ul id="top-tabbar-vertical" class="p-0" >
                                   <li class="active text-center" id="personal">
                                      <a href="javascript:void();">
                                         <i class="ri-user-fill text-primary"></i>
                                      <span style="display:block;">Editar Prova de Vida</span>
                                      </a>
                                   </li>
                                   <!-- <li class="text-center" id="contact">
                                      <a href="javascript:void();">
                                      <i class="ri-briefcase-4-fill text-warning"></i>
                                      <span style="display:block;">Informações Profissionais</span>
                                      </a>
                                   </li> -->
                                </ul>
                             </div>
                             <div class="col-md-8">
                              <form id="form-wizard3" class="text-center" action="{% url 'prova-vida-update' %}" method="POST">
                                {% csrf_token %}
                                 <!-- fieldsets -->
                                 <fieldset>
                                  <input type="text" value="{{funcionario.id}}" hidden name="id">
                                  <div class="form-card text-left">
                                    <div class="row">
                                      <div class="col-12">
                                        <h3 class="mb-4">Informações Pessoais:</h3>
                                      </div>
                                    </div>
                                    <div class="form-card text-left">
                                      <div class="row">
                                        <div class="col-12">
                                          <!-- <h4 class="mb-4">Informações Pessoais:</h4> -->
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label class="control-label">Nome Completo:</label>
                                            <input maxlength="100" value="{{funcionario.firstname}}" type="text" required="required" class="form-control"
                                              placeholder="Informe o seu nome completo" name="primeiro_nome" />
                                          </div>
                                        </div>
        
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label class="control-label">Genêro:</label>
                                            <select class="form-control" name="genero">
                                              <option value="{{funcionario.gender}}" selected>{{funcionario.gender}}
                                              </option>
                                              <option value="Masculino">Masculino</option>
                                              <option value="Feminino">Feminino</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label class="control-label">Estado Cívil:</label>
                                            <select class="form-control" name="estado_civil">
                                              <option value="{{funcionario.estado_civil}}" selected>
                                                {{funcionario.estado_civil}}</option>
                                              <option value="Solteiro">Solteiro (a)</option>
                                              <option value="Casado">Casado (a)</option>
                                              <option value="Divorciado">Divorciado (a)</option>
                                              <option value="Viúvo">Viúvo(a)</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="telefone" class="control-label">Contacto Telefônico:</label>
                                            <input type="text" class="form-control" id="telefone" name="telefone"
                                              value="{{funcionario.telefone}}">
                                            <!-- <input type="text" class="form-control" id="telefone" required="required"
                                              name="telefone" placeholder="Informe o seu contacto" pattern="[9][0-9]{8}" title="Entre Com um Número de Contacto Válido"> -->
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="correio_electronico" class="control-label">Correio Eletrônico:</label>
                                            <input type="text" class="form-control" id="correio_electronico" name="correio_electronico"
                                              placeholder="Informe o seu correio eletrônico" value="{{funcionario.correio_electronico}}">
                                            <!-- <input type="text" class="form-control" id="telefone" required="required"
                                              name="telefone" placeholder="Informe o seu contacto" pattern="[9][0-9]{8}" title="Entre Com um Número de Contacto Válido"> -->
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="nacionalidade" class="control-label">Nacionalidade</label>
                                            <input type="text" class="form-control" id="nacionalidade" name="nacionalidade"
                                              placeholder="Digite a sua nacionalidade" value="{{funcionario.nacionalidade}}">
                                            <!-- <input type="text" class="form-control" id="telefone" required="required"
                                              name="telefone" placeholder="Informe o seu contacto" pattern="[9][0-9]{8}" title="Entre Com um Número de Contacto Válido"> -->
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="numero_bi" class="control-label">Número do BI:</label>
                                            <input id="numero_bi" name="numero_bi" type="text" class="form-control"
                                              maxlength="14" value="{{funcionario.personnel_number}}">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="data_de_emissao" class="control-label">Data de Emissão: </label>
                                            <input type="date" id="data_de_emissao" class="form-control" required="required"
                                              name="data_de_emissao" value="{{funcionario.data_de_emissao|date:'Y-m-d'}}">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="data_de_validade" class="control-label">Data de Validade:
                                            </label>
                                            <input type="date" id="data_de_validade" class="form-control"
                                              name="data_de_validade"
                                              value="{{funcionario.data_de_validade|date:'Y-m-d'}}">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="data_nascimento" class="control-label">Data de Nascimento: </label>
                                            <input type="date" id="data_nascimento" class="form-control" required="required"
                                              name="data_nascimento" value="{{funcionario.date_of_birth|date:'Y-m-d'}}">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="morada" class="control-label">Morada: </label>
                                            <input type="text" class="form-control" required="required" id="morada"
                                              name="morada" placeholder="Informe a sua morada" value="{{funcionario.morada}}">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="cpwd" class="control-label">Província de Residência:</label>
                                            <select class="form-control" name="provincia_residencia">
                                              <option value="{{funcionario.provincia_residencia}}" selected>
                                                {{funcionario.provincia_residencia}}</option>
                                              <option value="Bengo">Bengo</option>
                                              <option value="Benguela">Benguela</option>
                                              <option value="Bié">Bié</option>
                                              <option value="Cabinda">Cabinda</option>
                                              <option value="Cuando Cubango">Cuando Cubango</option>
                                              <option value="Cuanza Norte">Cuanza Norte</option>
                                              <option value="Cuanza Sul">Cuanza Sul</option>
                                              <option value="Cunene">Cunene</option>
                                              <option value="Huambo">Huambo</option>
                                              <option value="Huíla">Huíla</option>
                                              <option value="Luanda">Luanda</option>
                                              <option value="Lunda Norte">Lunda Norte</option>
                                              <option value="Lunda Sul">Lunda Sul</option>
                                              <option value="Malanje">Malanje</option>
                                              <option value="Moxico">Moxico</option>
                                              <option value="Namibe">Namibe</option>
                                              <option value="Uíge">Uíge</option>
                                              <option value="Zaire">Zaire</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="provincia_nascimento" class="control-label">Província de
                                              Nascimento:</label>
                                            <select class="form-control" name="provincia_nascimento" required="required">
                                              <option value="{{funcionario.provincia_nascimento}}" selected>
                                                {{funcionario.provincia_nascimento}}</option>
                                              <option value="Bengo">Bengo</option>
                                              <option value="Benguela">Benguela</option>
                                              <option value="Bié">Bié</option>
                                              <option value="Cabinda">Cabinda</option>
                                              <option value="Cuando Cubango">Cuando Cubango</option>
                                              <option value="Cuanza Norte">Cuanza Norte</option>
                                              <option value="Cuanza Sul">Cuanza Sul</option>
                                              <option value="Cunene">Cunene</option>
                                              <option value="Huambo">Huambo</option>
                                              <option value="Huíla">Huíla</option>
                                              <option value="Luanda">Luanda</option>
                                              <option value="Lunda Norte">Lunda Norte</option>
                                              <option value="Lunda Sul">Lunda Sul</option>
                                              <option value="Malanje">Malanje</option>
                                              <option value="Moxico">Moxico</option>
                                              <option value="Namibe">Namibe</option>
                                              <option value="Uíge">Uíge</option>
                                              <option value="Zaire">Zaire</option>
                                            </select>
                                          </div>
                                        </div>
        
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="numero_mecanografico" class="control-label">Número Mecanográfico:
                                            </label>
                                            <input type="text" class="form-control" required="required"
                                              id="numero_mecanografico" name="numero_mecanografico"
                                              placeholder="Número mecanográfico"  value="{{funcionario.numero_mecanografico}}">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="numero_seguranca_social" class="control-label">Número Segurança Social:
                                            </label>
                                            <input type="text" class="form-control" required="required"
                                              id="numero_seguranca_social" name="numero_seguranca_social"
                                              placeholder="Número Segurança Social"  value="{{funcionario.numero_seguranca_social}}">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="numero_dependentes" class="control-label">Número de Dependentes:
                                            </label>
                                            <input type="text" class="form-control" required="required" id="numero_dependentes"
                                              name="numero_dependentes" placeholder="Informe o nº de dependentes"  value="{{funcionario.numero_dependentes}}">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
        
                                  <hr>
        
                                  <div class="form-card text-left">
                                    <div class="row">
                                      <div class="col-12">
                                        <h3 class="mb-4">Informações Profissionais:</h3>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label for="data_admissao" class="control-label">Data de Admissão: </label>
                                          <input type="date" id="data_admissao" class="form-control" required="required"
                                            name="data_admissao"  value="{{funcionario.data_de_admissao|date:'Y-m-d'}}">
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label class="control-label">Reforma:</label>
                                          <select class="form-control" name="reforma" required="required">
                                            <option value="{{funcionario.reforma}}"  value="{{funcionario.reforma}}" selected>{{funcionario.reforma}}</option>
                                            <option value="Reformado">Reformado</option>
                                            <option value="Pré-reforma">Pré-reforma</option>
                                            <option value="Não reformado">Não reformado</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label class="control-label">Estabelecimento:</label>
                                          <select class="form-control" name="direcao_alocacao">
                                            <option value="{{funcionario.direccao.id}}" selected>{{funcionario.direccao}}</option>
                                            {% for direccao in direccoes %}
        
                                            <option value="{{direccao.id}}">{{direccao.nome}}</option>
        
                                            {% endfor %}
                                          </select>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label class="control-label">Categoria Laboral Antiga:</label>
                                          <select class="form-control" name="categoria_antiga">
                                            <option value="{{funcionario.categoria_laboral_antiga.id}}" selected>{{funcionario.categoria_laboral_antiga.nome}}</option>
                                            {% for categoria in categorias_antigas %}
                                            <option value="{{categoria.id}}">{{categoria.nome}}</option>
        
                                            {% endfor %}
                                          </select>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label class="control-label">Categoria Laboral Nova:</label>
                                          <select class="form-control" name="categoria_nova">
                                            <option value="{{funcionario.categoria_laboral_nova.id}}" selected>{{funcionario.categoria_laboral_nova.nome}}</option>
                                            {% for categoria in categorias_novas %}
                                            <option value="{{categoria.id}}">{{categoria.nome}}</option>
        
                                            {% endfor %}
                                          </select>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label class="control-label">Função Chefia Nova:</label>
                                          <select class="form-control" name="funcoes_chefias_nova">
                                            <option value="{{funcionario.funcao_chefia_nova.id}}" selected>{{funcionario.funcao_chefia_nova.nome}}</option>
                                            {% for categoria in funcoes_chefia_nova %}
                                            <option value="{{categoria.id}}">{{categoria.nome}}</option>
        
                                            {% endfor %}
                                          </select>
                                          </select>
                                        </div>
                                      </div>
        
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label class="control-label">Função Chefia Antiga:</label>
                                          <select class="form-control" name="funcoes_chefias_antiga">
                                            <option value="{{funcionario.funcao_chefia.id}}" selected>{{funcionario.funcao_chefia.nome}}</option>
                                            {% for categoria in funcoes_chefia %}
                                            <option value="{{categoria.id}}">{{categoria.nome}}</option>
        
                                            {% endfor %}
                                          </select>
                                          </select>
                                        </div>
                                      </div>

                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label for="vencimento_mensal" class="control-label">Salário Base:</label>
                                          <input type="text" class="form-control" id="vencimento_mensal"
                                            name="vencimento_mensal" value="{{funcionario.vencimento_mensal}}">
                                        </div>
                                      </div>
        
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label class="control-label">Habilitação Literária:</label>
                                          <select class="form-control" name="habilitacao_literaria">
                                            <option value="{{funcionario.habilitacao}}" selected>
                                              {{funcionario.habilitacao}}</option>
                                            <option value="Ensino de Base">Ensino de Base</option>
                                            <option value="Ensino Médio">Ensino Médio</option>
                                            <option value="Licenciatura">Licenciatura</option>
                                            <option value="Especialização em pós-graduação">Especialização em
                                              pós-graduação</option>
                                            <option value="Mestrado">Mestrado</option>
                                            <option value="Doutoramento">Doutoramento</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label for="area_de_formacao" class="control-label">Área de Formação: </label>
                                          <input type="text" class="form-control" id="area_de_formacao" name="area_de_formacao"
                                            placeholder="Informe a área de formação" value="{{funcionario.area_de_formacao}}">
                                        </div>
                                      </div>
        
                                    </div>
        
                                  </div>
                                  <input type="submit" class="btn btn-primary action-button pull-right " value="Salvar">
                                  <button type="button" class="btn btn-secondary action-button  pull-right" data-dismiss="modal"
                                    style="margin-right: 3px;">Fechar</button>
        
                                </fieldset>
                              </form>
                             </div>
                          </div>
                       </div>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

</section>
<!-- /.content -->
</div>
  {% endblock main %}
