{% extends 'base.html' %}
{% load static %}



{% block main %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Nova Categoria Profissional
        <small>RH</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
        <li><a href="#">Recursos Humanos</a></li>
        <li class="active"> <a> Nova Categoria Profissional <small class="label pull-right" style="color: green;">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Geral</font>
              </font>
            </small> </a></li>
      </ol>
    </section>
    <br>
    <div class="col-md-12">
      <div class="box box-success ">
        <div class="box-header with-border" style="height: 70px">
          <h5 class="box-title" style="font-size: 12px"><i class="fa fa-fw  fa-object-group"></i> Recursos Humanos
          </h5>

          <div class="box-tools pull-right">

            <div class="alert text-white bg-success" style="padding-right: 6px;" role="alert">
              <div class="iq-alert-text">Nova Categoria Profissional Cadastrada com Sucesso!</div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="ri-close-line"></i>
              </button>
           </div> 
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            <img src="{% static 'imagens/bwcangola_logo.png' %}" style="width: 70px; height:2%">
          </div>
          <br>
          <p></p>
        </div>
      </div>
    </div>

    <section class="content">
      <!-- Page Content  -->
      <div class="row">
        <div class="col-md-12">
          <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
              <div class="iq-header-title">
                <br>
                <h4 class="card-title">Resumo Cadastro da Nova Categoria Profissional</h4>
                <span>
                  
                </span>
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="">

                  <div class="-header d-flex justify-content-between">
                    <br>

                  </div>
                  <div class="-body" style="padding-left: 0;">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="">
      
                          <div class="-header d-flex justify-content-between">
                 
      
                          </div>
                          <div class="iq-card-body" style="padding-left: 0;">
                            <div class="row"> 
                               <div class="col-md-8">
                                  <form id="form-wizard3" class="text-center">
                                     <!-- fieldsets -->
                                     <fieldset>
                                        <div class="form-card text-left">
                                           <div class="row">
                                           </div>
                                           <div class="form-card text-left">
                                            <div class="row">
                                              <div class="col-12">
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-md-1">
                                                  
                                              </div>
                                              <div class="col-md-11">
                                                <form id="form-wizard3" class="text-center">
                                                   <!-- fieldsets -->
                                                   <fieldset>
                                                      <div class="form-card text-left">
                                                         <div class="row">
                                                            <div class="col-12">
                                                               <h3 class="mb-4"><i class="fa fa-address-card"></i> Informações:</h3>
                                                               <br>
                                                            </div>
                                                         </div>
                                                         <div class="form-card text-left">
                                                          <div class="row">
                                                            <div class="col-12">
                                                              <!-- <h4 class="mb-4">Informações Pessoais:</h4> -->
                                                            </div>
                                                          </div>
                                                          <div class="row">
                                                            <div class="col-md-12">
                                                              <div class="form-group">
                                                                <h5>Nome da Categoria Profissional:</h5>
                                                                <label class="control-label">{{categoria_nova}}</label>
                                                              </div>
                                                            </div>
                                                   </fieldset>
                                                   <a href="{% url 'home' %}" type="button" name="previous" class="btn btn-primary previous action-button-previous pull-right " value="Previous" style="margin-right: 3px;">Página Inicial</a>
                                                </form>
                                             </div>
                                     </fieldset>
                                  </form>
                                  
                               </div>
                            </div>
                         </div>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

  </section>
  <!-- /.content -->
  </div>

  {% endblock main %}
