{% extends 'base.html' %}
{% load static %}

{% load static %}


{% block main %}


<div class="content-wrapper">
   <section class="content-header">
     <h1>
       Reabertura da Prova de Vida
       <small>RH</small>
     </h1>
     <ol class="breadcrumb">
       <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
       <li><a href="#">Recursos Humanos</a></li>
       <li class="active"> <a > Reabertura da Prova de Vida <small class="label pull-right" style="color: green;"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Geral</font></font></small> </a></li>
     </ol>
   </section>
   <br>
   <div class="col-md-12">
     <div class="box box-success ">
       <div class="box-header with-border" style="height: 70px">
         <h5 class="box-title" style="font-size: 12px"><i class="fa fa-fw  fa-object-group"></i> Recursos Humanos</h5>
 
         <div class="box-tools pull-right">
            {% if error %}
            <div class="box-tools pull-right">
              <div class="alert text-white bg-danger" style="padding-right: 6px;" role="alert">
                <div class="iq-alert-text"> {{error}} </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="ri-close-line"></i>
                </button>
             </div> 
             {% endif %}
 
          <!-- <a   onclick="imprimirGeral(event)" data-placement="top" title="Imprimir Relatório" data-toggle="tooltip"  class="btn btn-default"><i class="fa fa-fw fa-file-pdf-o"> </i>PDF</a>  -->
           &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
          <img src="{% static 'imagens/bwcangola_logo.png' %}" style="width: 70px; height:2%">
         </div>
         <br>
         <p></p>
       </div>
     </div>
   </div>
   <section class="content" >
     <div class="row">
        <div class="row">
         <div class="col-sm-12 col-lg-12">
            <div class="iq-card">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">Reabertura da Prova de Vida</h4>
                  </div>
               </div>
               <div class="iq-card-body">
                  <form  method="post" action="{% url 'prova-vida-reabrir' %}" enctype="multipart/form-data">
                     {% csrf_token %}
                     <input type="text" hidden  class="form-control" id="id" name="id" value="{{abertura.id}}" >
                     <div class="row " id="">
                        <div class="col-sm-12">
                           <div class="col-md-12 p-0">
                              <h3 class="mb-4">Informações de Reabertura:</h3>
                              <div class="row">
                                 <div class="form-group col-md-6">
                                     <label>Referência: </label>
                                     <input type="text" class="form-control disabled" value="{{abertura.referencia}}" name="referencia" placeholder="Referência de Abertura"  readonly>
                                 </div> 
                                 
                       
                                 <div class="col-md-3 form-group">
                                     <label>Data Inicio:</label>
                                   <input type="date"  class="form-control" name="datainicio"  value="{{abertura.data_de_abertura}}" >
                                 </div>
                                 <div class="col-md-3 form-group">
                                     <label>Data Fim:</label>
                                   <input type="date" class="form-control" name="datafim"  value="{{abertura.data_de_fim}}" required>
                                 </div>
                                 <div class="col-md-6 form-group">
                                     <label for="descricao">Descrição:</label><br>
                                     <textarea id="descricao" class="form-control" name="descricao"   value="{{abertura.descricao}}"></textarea>
                                 </div>
                              </div>
                              <input type="submit"  class="btn btn-primary  btn-lg pull-right" value="Reabrir" >
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
     </div>
 </div>
 </section>
   <!-- /.content -->
 </div>
 


{% endblock main %}
