{% extends 'base.html' %}
{% load static %}



{% block main %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Atualização dos Dados
        <small>RH</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
        <li><a href="#">Recursos Humanos</a></li>
        <li class="active"> <a> Atualização dos Dados <small class="label pull-right" style="color: green;">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Geral</font>
              </font>
            </small> </a></li>
      </ol>
    </section>
    <br>
    <div class="col-md-12">
      <div class="box box-success ">
        <div class="box-header with-border" style="height: 70px">
          <h5 class="box-title" style="font-size: 12px"><i class="fa fa-fw  fa-object-group"></i> Recursos Humanos
          </h5>

          <div class="box-tools pull-right">
            <div class="alert text-white bg-success" style="padding-right: 6px;" role="alert">
              <div class="iq-alert-text">Dados Atualizados com Sucesso!</div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="ri-close-line"></i>
              </button>
           </div> 
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            <img src="{% static 'imagens/bwcangola_logo.png' %}" style="width: 70px; height:2%">
          </div>
          <br>
          <p></p>
        </div>
      </div>
    </div>

    <section class="content">
      <!-- Page Content  -->
      <div class="row">
        <div class="col-md-12">
          <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
              <div class="iq-header-title">
                <br>
                <h4 class="card-title">Atualização dos Dados</h4>
                <span>
                  
                </span>
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="">

                  <div class="-header d-flex justify-content-between">
                    <br>

                  </div>
                  <div class="-body" style="padding-left: 0;">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="">
      
                          <div class="-header d-flex justify-content-between">
                 
      
                          </div>
                          <div class="iq-card-body" style="padding-left: 0;">
                            <div class="row"> 
                               <div class="col-md-12">
                                <div class="row " id="">
                                  <div class="col-sm-12">
                                     <div class="col-md-12 p-0">
                                        <div class="row justify-content-center">
                                           <div class="row">
                                               <div class="col-7">
                                               </div>
                                               <div class="col-5">
                                                  <h2 class="steps"></h2>
                                               </div>
                                            </div>
                                            <br><br>
                                            <h2 class="text-success text-center"><strong>SUCESSO!</strong></h2>
                                            <br>
                                            <div class="row justify-content-center">
                                               <div class="col-3"> <img src="{% static 'assets/dist/img/page-img/img-success.png' %}"  class="fit-image ml-4 justify-content-center" alt="img-success" style="height:300px; width:300px;text-align: center;display: block; margin: auto;"> </div>
                                            </div>
                                            <br><br>
                                            <div class="row justify-content-center">
                                               <div class="col-7 text-center">
                                                  <h5 class="purple-text text-center">Os Dados Foram Atualizados com Sucesso!</h5>
                                               </div>
                                            </div>
                                        </div>
                                     </div>
                                     <a href="{% url 'home' %}" type="button" name="previous" class="btn btn-primary previous action-button-previous pull-right " value="Previous" style="margin-right: 3px;">Página Inicial</a>
                                  </div>
                               </div> 
                               </div>
                            </div>
                         </div>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

  </section>
  <!-- /.content -->
  </div>


  

  {% endblock main %}
